<a href="#" class="btn btn-default btn-sm"><i class="icon-thumbs-up"></i> 赞</a>
<a href="#" class="btn btn-default btn-sm"><i class="icon-share"></i> 转发</a>
<a href="#" class="btn btn-default btn-sm"><i class="icon-comment"></i> 评论</a>