<div class="container first-container">
  <div class="row">
    <div class="col-md-10 col-offset-1 explore-form">
      <img src="assets/img/explore.jpg" alt="">
      <h1>我能为你找些什么？</h1>
      <input id="explore-input" name="explore-input" type="text" class="form-control">
      <a href="#" class="btn btn-primary btn-large">搜索！</a> <a href="#" class="btn btn-large">手气不错</a>
    </div>
  </div>
</div>